*{margin: 0;
padding: 0;}

.container{
    font-family:sans-serif;
    background-color: black;
    width: 100%;
    height: 300vh;
}
.header{
    height: 113px;
    width: 100%;
   
    display: flex;
    flex-direction: column;
    background-color: white;
}
.thead{
    text-align: right;
    margin-top: 20px;
    margin-right: 65px;
}
.a1{
    margin-left: 10px;
    color: black;
    font-size: 15px;
    text-decoration: none;
    font-weight: 550;

}
.bhead{
    
    height: 80px;
    width: 100%;
    display: flex;
}
.logo{
    padding-top: 20px;
    padding-left: 55px;
}


.menu{
   
    width: 900px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 14px;
    justify-content: space-evenly;
    margin-left: 45px;
    margin-left: 10px;
    

    
   

}
.a2{
    text-decoration: none;
    color: black;
    font-family:  'SamsungOne', arial, sans-serif;
}
.search{
    width: 300px;
    height: 80px;
    
    
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    padding-left: 80px;
}
.ss{
    height: 40px;
    border-radius: 40px;
    border: 0;
    background-color: rgb(248, 242, 242);
    font-size: 16px;
    padding-left: 10px;
    width: 170px;
}
.fa-solid{
    font-size: 20px;
}
.main0{
    position: relative;
    background-color: black;
    width: 100%;
    height: 100vh;
}
.divimg{position: absolute;
    background-color: black;
    height: 100%;
    width: 100%;
    margin-top: 70px;
    
}
h1{
    position: absolute;
    color: white;
    width: 600px;
    height: 70px;
    
    margin-top: 150px;
    margin-left: 120px;
    font-size: 48px;
}
.phmain{
    display: flex;
    margin-top: -680px;
    margin-left: -110px;
    justify-content: space-evenly;
    
}
.ph{
    
    
   
    
    margin-left: 40px;
    text-align: center;
  
    font-size: 18px;
    color: white;
}


.ph4{
    
   
    
    margin-left: 50px;
    padding-left: 50px;
   
    font-size: 18px;
    color: white;
}

.ph5{
   
    

    font-size: 14px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding-left: 200px;
    
}



.ph6{
   
    
   
  
    font-size: 14px;
    color: white;
    text-decoration: none;
    font-weight: lighter;
    margin-left: 5px;

}

.ph7{
    
  
   margin-left: 1px;
  
    font-size: 20px;
    color: white;
    text-decoration: none;
    font-weight: lighter;
}
.m2p{
    color: white;
    text-align: center;
    margin-top: 40px;
}
.main3{
    display: flex;
    justify-content: space-evenly;
    margin-top: 245px;
}
.box{
   
    color: white;
    position: relative;

    
}
.cont{
    position: absolute;
    text-align: center;
    margin-left: 30px;
    margin-top: 40px;
}
.cardp{
    margin-top: 20px;
    margin-bottom: 45px;
}
.cbtn{
    color: black;
    background-color:white ;
    padding:10px;
    border-radius: 20px;
    text-decoration: none;
}
.cardp2{
    margin-top: 20px;
    margin-bottom: 30px;
}
.cardp3{
    margin-top: 20px;
    margin-bottom: 15px;
}
.cardp4{
    margin-top: 20px;
    margin-bottom: 70px;
}

.ftop{
    background-color: rgb(254, 255, 255);
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 300px;
    
}
.aaa{
    text-decoration: none;

}
.fcont{
    margin-left: 980px;
    text-align: justify;
    text-align: right;
}
.fbtn{
    color: white;
    padding: 10px;
    background-color: #2189ff;
    text-decoration: none;
    border-radius: 15px;
    padding-left: 10px;
    font-size: small;
    font-weight: bold;
    margin-left: 10px;
}
.nw{
    
    width: 200px;
    margin-left: 60px;
   
}
.about{
    display: flex;
}
.fbox{
    background-color: white;
   
    width: 500px;
    display: flex;
    flex-direction: column;
    border: .5px solid rgb(239, 233, 233) ;
    padding-top: 20px;
    
}
a{
    text-decoration: none;
    color: black;
}
.ful{
    margin-top: 20px;
    text-align: left;
    margin-left: 60px;
    line-height: 30px;
    font-size: 13px;
   
    
}
.crf{
    height: 150px;
   
}
.crfp{
    margin-top: 20px;
    font-size: 12px;
    margin-left: 65px;
}
.contacts{
    height: 100px;
    width: 100%;
   
    display: flex;
}
.cntlb{
    height: 100px;
    width: 500px;
    display: flex;
    align-items: center;
    font-size: 13px;
    margin-left: 45px;
   

}
.lis{
    display: inline;
    margin-left: 20px;
}
.cntic{
    display: flex;
    align-items: center;
    margin-left: 640px;

    
}
.ic{
    font-size: 25px;
    margin-left: 10px;
}


.ai{
    
    width: 100%;
    
    height: 100vh;
    display: flex;
}
.aiimg{
    width: 50%;

    background-color: black;
    color: white;
    
   
    padding-left: 100px;
    padding-top: 200px;
}
.aivid{
    width: 50%;
    background-color: black;
    
   
    padding-top: 150px;
}